main{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    height: calc(100vh - (64px + 63px));

    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    transform: translate(0, -25%);

    text-align: center;
}

.content h1{
    color: white;
    font-size: 3rem;
    padding: 10px;
}

.content h2{
    color: white;
    font-size: 2rem;
    padding: 10px;
}

.content p{
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.content button{
    background-color: #31d2ee;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.content button:hover{
    background-color: rgb(52, 115, 252);
}

