h1{
    text-align: center;
    font-size: 3em;
    color: #333;
    margin: 20px;
}
/* Estilos del formulario */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.form-input{
    display: flex;
    justify-content: left;
    flex-direction: column;

    width: 50%;
    margin: 5px;
}

.form-input input{
    width: 100%;
    padding: 10px;
    border: #333 1px solid;
    border-radius: 5px;

}

input[type="submit"]{
    width: 200px;
    margin: 20px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #555;
}

h4{
    font-size: 1.2em;
    color: #333;
    margin: 20px;
    text-align: center;
    text-decoration: underline;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}