<main>
    <h1>Catálogo de Libros</h1>
    <h2>¡Explora nuestra colección y encuentra tu próximo libro!</h2>
    <div class="catalogue">
        <div class="categories">
            {% for categoria, libros in libros_por_categoria.items() %}
            <div class="category">
                <h3>{{ categoria }}</h3>
                <div class="books">
                    {% for libro in libros %}
                    <div class="book">
                        <div class="book-cover">
                            <img src="{{ libro.imagen }}" height="100%" alt="libro imagen">
                        </div>
                        <div class="book-information">
                            <h4>{{ libro.titulo }}</h4>
                            <span>Autor</span>
                            <p>{{ libro.autor }}</p>
                            <span>Descripción</span>
                            <p>{{ libro.descripcion }}</p>
                            <span>ISBN</span>
                            <p>{{ libro.isbn }}</p>
                            <span>Precio</span>
                            <p>S/. {{ libro.precio }}</p>
                            <p>Stock: {{ libro.stock }}</p>
                            <a href="pedido">
                                <button>Comprar</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
