<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Cliente</title>
</head>
<body>
    <h1>Registrar Nuevo Cliente</h1>
    <form method="porst">
        <label fo="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        
        <label for="direccion">Dirección:</label><br>
        <input type="text" id="direccion" name="direccion"><br>
        
        <label for="ciudad">Ciudad:</label><br>
        <input type="text" id="ciudad" name="ciudad"><br>
        
        <label for="codigo_postal">Código Postal:</label><br>
        <input type="text" id="codigo_postal" name="codigo_postal"><br>
        
        <label for="pais">País:</label><br>
        <input type="text" id="pais" name="pais"><br><br>
        
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
