<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/logo.ico">
    <title>BookShop - Página de Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <a href="home" class = "logo">
            <img src="../static/img/bookshop.png" alt="BookShop logo">
            <span class="logo-text">BookShop</span>
        </a>
        <ul class="navbar">
            {% if 'user_id' in session %}
            <li><a>Hola, {{ nombre_usuario }}</a></li>
            <li><a href="historial">Historial de Pedidos</a></li>
            <li><a href="catalogo">Catálogo de Libros</a></li>
            <li><a href="logout">Cerrar Sesión</a></li>
            {% else %}
            <li><a href="catalogo">Catálogo de Libros</a></li>
            <li><a href="login">Iniciar Sesión</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        <div class="content">
            <h1>Bienvenido a BookShop</h1>
            <h2>Descubre nuestra selección de libros</h2>
            <p>Explora nuestra amplia gama de libros en diferentes categorías.</p>
            <p>¡Encuentra tu próximo libro favorito hoy!</p>
        </div>
    </main>
    <footer>
        <p class="copyright">&copy; BookShop 2024 - Todos los derechos reservados.</p>
    </footer>
</body>
</html>
